.App {
  text-align: center;
  
 
  
}


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  
  font-weight: lighter;
  cursor: pointer;
}
.title:hover{
  color: rgb(235, 49, 49);

}

.red {
  color: rgb(80, 16, 16);
}

.image{
display: flex;
transform: translateX(300px);
  width: 200px;
  height: 200px;

}